<widget
  class="iimage-wrapper"
  th:data-import-image-service-url="${importImageServiceUrl}"
  th:data-sync-image-info-service-url="${syncImageInfoServiceUrl}"
  th:data-image-shop-url="${imageShopURL}"
  th:data-image-shop-upload-url="${imageShopUploadURL}"
  th:data-strings="${stringsJson}"
>
  <link rel="stylesheet" th:href="${portal.assetUrl({'_path=/css/styles.css'})}" />

  <th:block th:if="${!#lists.isEmpty(inputsAllowedToUploadImage)}">
    <details open style="width: 100%; margin-bottom: 8px;">
      <summary>Select an input to set the image</summary>
      <ul style="margin-top: 8px;">
        <th:block th:each="input : ${inputsAllowedToUploadImage}">
          <li th:with="id=|${input.name}_${input.path}|">
            <input type="radio" th:id="${id}" name="inputName" th:value="${input.name}" th:data-type="${input.type}" th:data-property-path="${input.path}" />
            <label th:for="${id}" th:text="${input.label}">Input label</label>
          </li>
        </th:block>
      </ul>
    </details> 
  </th:block>

  <div id="imageshop-message" class="imageshop-message-wrapper">
    <p>Successfull/Error message</p>
  </div>
  <button type="button" id="imageshop-button" th:text="${strings.openImageShop}">Insert from ImageShop</button>
  <button type="button" id="imageshop-upload-button" th:text="${strings.uploadImage}">Upload new</button>
  <button th:if="${showSyncButton}" type="button" id="imageshop-sync-info-button" th:text="${strings.syncInfo}">Sync Info</button>

  <script th:src="${portal.assetUrl({'_path=/js/main.js'})}"></script>
</widget>